@import "tailwindcss";

@theme {
  --color-accent: #FF4F79;
  --color-accent2: #FFD400;
  --color-paper: #FDFBF8;
  --color-ink: #111827;

  --shadow-brutal: 4px 4px 0px #111827;
  --shadow-brutalMd: 6px 6px 0px #111827;

  --border-width-3: 3px;
}

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 antialiased;
  }
}
